.gradle
/build/
!/gradle/wrapper/gradle-wrapper.jar
!**/src/main/**/resources/**/*.properties
!**/src/main/**/resources/**/*.yml
!**/src/main/**/resources/**/*.xml
/out/
.idea
*.iml
*.ipr
*.iws
.project
.classpath
.settings/
.metadata/
/bin/
.DS_Store
*.class
*.log
.env
.env.local
